<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <h1>Business Contact</h1>
      <form action="/businessContacts/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach(contact => { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.number %></td>
            <td><%= contact.email %></td>
            <td>
              <!-- Update Button -->
              <form
                action="/businessContacts/<%= contact._id %>/update"
                method="GET"
                style="display: inline"
              >
                <button type="submit">Update</button>
              </form>
              <!-- Delete Button -->
              <form
                action="/businessContacts/<%= contact._id %>/delete"
                method="POST"
                style="display: inline"
              >
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
